<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841905617184-adokd22e2grk03k7bqj5lbes78suupgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841905617184-adokd22e2grk03k7bqj5lbes78suupgc</string>
	<key>API_KEY</key>
	<string>AIzaSyCtfYJFJtZLlEv9FLRIUsDgOh4cKEQgtDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>841905617184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.humber.LuizClaro-N01459385-A2</string>
	<key>PROJECT_ID</key>
	<string>ios-assignment-2-b57cb</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-assignment-2-b57cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841905617184:ios:52a7bb7c7af89545813f45</string>
</dict>
</plist>